image: ubuntu:bionic

variables:
  JDK14_FILENAME: "openjdk-14-jpackage+1-35_linux-x64_bin.tar.gz"
  JDK14_URL: "https://download.java.net/java/early_access/jpackage/1/$JDK14_FILENAME"
  BADASS_JLINK_JPACKAGE_HOME: "$CI_PROJECT_DIR/jdk-14"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - apt-get update
  - apt-get -y upgrade
  - apt-get -y install openjdk-11-jdk curl rpm fakeroot wget gnupg2
  # Install AdoptOpenJDK 12 following instructions from here: https://adoptopenjdk.net/installation.html
  - wget -qO - https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public | apt-key add -
  - add-apt-repository --yes https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/
  - apt-get -y install adoptopenjdk-12-hotspot
  - echo Downloading jpackage tool from $JDK14_URL to $BADASS_JLINK_JPACKAGE_HOME
  - curl --silent --show-error -O $JDK14_URL
  - tar xf $JDK14_FILENAME
  - $BADASS_JLINK_JPACKAGE_HOME/bin/jpackage --version

build:
  script:
    - java -version
    - echo Gradle OPTS are $GRADLE_OPTS
    - ./gradlew buildCI airgapfx-wallet:jpackage --stacktrace
  artifacts:
    paths:
      - airgapfx-wallet/build/jpackage
      - airgapfx-wallet/build/libs

# Note: You can test changes to this file locally with:
# gitlab-runner exec docker --docker-privileged build
