image: ubuntu:bionic

variables:
  JDK14_FILENAME: "openjdk-14-jpackage+1-35_linux-x64_bin.tar.gz"
  JDK14_URL: "https://download.java.net/java/early_access/jpackage/1/$JDK14_FILENAME"
  BADASS_JLINK_JPACKAGE_HOME: "$CI_PROJECT_DIR/jdk-14"
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - echo $BADASS_JLINK_JPACKAGE_HOME
  - echo $GRADLE_OPTS
  - apt-get update
  - apt-get -y upgrade
  - apt-get -y install openjdk-11-jdk curl rpm fakeroot
  - echo Downloading jpackage tool from $JDK14_URL
  - curl --silent --show-error -O $JDK14_URL
  - tar xf $JDK14_FILENAME
  - $BADASS_JLINK_JPACKAGE_HOME/bin/jpackage --version

build:
  script:
    - java -version
    #- ./gradlew buildCI airgapfx-wallet:jpackage --stacktrace
    - ./gradlew buildCI --stacktrace
  artifacts:
    paths:
      - airgapfx-wallet/build/jpackage
      - airgapfx-wallet/build/libs

# Note: You can test changes to this file locally with:
# gitlab-runner exec docker --docker-privileged build
