name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        java: [ '11', '12' ]
      fail-fast: false
    name: JAVA ${{ matrix.java }} OS ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Gradle
      run: ./gradlew -Ddownload.jpackage=true buildCI airgapfx-wallet:jpackage --info --stacktrace
    - name: Upload jpackage directory as artifact
      uses: actions/upload-artifact@master
      with:
        name: netwallet-${{ matrix.os }}-jdk${{ matrix.java }}-jpackage
        path: airgapfx-wallet/build/jpackage
